body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    padding-top: 50px;
    background-color: #f8f9fa;
    font-family: Arial, sans-serif;
}

main {
    flex: 1;
}

footer {
    background-color: #f8f9fa;
    text-align: center;
    padding: 1rem 0;
    border-top: 1px solid #e7e7e7;
    font-size: 0.9rem;
    color: #6c757d;
}

.arrow {
    font-size: 2rem;
    text-decoration: none;
    color: black;
    margin-bottom: 20px;
}
